<html>
  <head>
    <title><%= Configs['app_name'] %></title>
    <meta name="viewport" content="width=device-width">
    <%= partial :'/shared/head_scripts' %>
  </head>
  <body>
    <%= yield %>
    <%= partial :'/shared/footer_scripts' %>
  </body>
</html>

